@import '../abstract/var';


@mixin title-section() {
    display: flex;
    color: $primary-color;
    align-items: end;
    justify-content: center;
    margin-bottom: 40px;

    .about_title_number {
        font-size: $h-text * 1.375;
        padding-bottom: 2px;
    }

    .about_title {
        font-size: $h-subtitle;
    }

    .line {
        height: 1.5px;
        display: flex;
        flex: 1;
        margin: 0 0 10px 5px;
        background-color: $primary-color;
    }
}


@mixin card-list-items() {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@mixin main-button {
    background-color: transparent;
    padding: 15px 25px;
    border: 1px solid $primary-color;
    border-radius: 6px;
    font-size: $h-text * 1.2;
    color: $primary-color;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .6s ease;

    &:hover{
        background-color: $primary-color;
        color: $background-color;
    }
}