@import '../abstract/var';

.featured {
    padding: 50px 30px 0 30px;

    .about_container_title {
        @include title-section()
    }

    .featured_primary {
        margin-bottom: 80px;

        .primary_card {
            background-color: $background-card;
            padding: 40px 20px;
            margin-bottom: 30px;
            transition: all .6s ease;

            &:hover {
                box-shadow: 2px 4px 7.2px $primary-color;
                color: $text-primary-color;
            }

            .primary_card_title {
                font-size: $h-text * 1.5;
                margin-bottom: 20px;
            }

            .primary_card_text {
                margin-bottom: 40px;
            }

            .card_list {
                @include card-list-items()
            }

            .container_links {
                .links_list {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }



    .featured_secondary {
        .secondary_title {
            font-size: $h-subtitle;
            text-align: center;
            margin-bottom: 60px;
            color: $text-primary-color;
        }

        .secondary_container {
            .secondary_card {
                width: 100%;
                background-color: $background-card;
                padding: 40px 20px 10px 20px;
                margin-bottom: 20px;

                .secondary_card_title {
                    color: $text-primary-color;
                    font-size: $h-subtitle;
                    margin-bottom: 20px;
                }

                .secondary_card_text {
                    margin-bottom: 20px;
                }

                .card_list {
                    @include card-list-items()
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .featured {
        .featured_primary {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;

            .primary_card {
                width: 48%;
            }
        }

        .featured_secondary {
            .secondary_container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 10px;

                .secondary_card {
                    width: 49%;
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .featured {
        padding: 0 200px;
    }
}