.footer {
    
    padding: 0 30px 50px 30px;

    .footer_list_links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6vw;
        margin-bottom: 20px;
    }

    .footer_text {
        text-align: center;

        .my_name{
            color: $text-primary-color;
        }

        a{
            text-decoration: none;
            color: $text-primary-color;
        }
    }
}