@import '../abstract/var';
@import '../mixins/mixins';

.presentation {
    height: 90vh;
    padding: 40px 30px;

    .presentation_yellow {
        color: $primary-color;
        font-family: $font-secondary;
        margin-bottom: 20px;
    }

    .presentation_title {
        font-size: $h-title;
        margin-bottom: 10px;
        color: $text-primary-color;
    }

    .presentation_subtitle {
        font-size: $h-subtitle;
        margin-bottom: 17px;
    }

    .presentation_text {
        line-height: 1.2rem;
        margin-bottom: 100px;
        text-align: justify;
    }

    .main_button {
        @include main-button();
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .presentation {
        padding: 100px 200px;

        .presentation_text {
            width: 60%;
        }
    }
}