//Fonts
$font-primary: 'Big Shoulders Text', cursive;
$font-secondary: 'Fira Code', monospace;

//Colors
$primary-color: #F5A201;
$secondary-color: #FFBA42;
$background-color: #013C58;
$background-card: #00537A;
$text-primary-color: #CCD6F6;
$text-secondary-color: #949BB2;

//Sizes - height
$h-text: 1rem;
$h-title: $h-text *2.5;
$h-subtitle: $h-text*2.1;